* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

table.dataTable thead th {
  background-color: #ffffff;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

table.dataTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.dataTable label {
  background-color: #f2f2f2; /* Change the background color */
  border: 1px solid #ccc; /* Change the border */
  border-radius: 5px; /* Add border radius for rounded corners */
  padding: 5px; /* Add padding for better spacing */
}

.dataTable {
  padding-top: 2rem;
}

#card {
  padding: 10px;
  border: 2px solid #7693be;
  width: 23%;
  height: 10rem;
  border-radius: 5px;
  box-shadow: 3px 5px #7693be;
}

#amount {
  margin-left: 10px;
  font-size: 60px;
  /* color: #0d6efd; */
}

#text {
  margin-right: 10px;
  text-align: end;
  font-size: larger;
}

/* Style for the thumbnail image */
.thumbnail {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

/* Style for the container that holds the enlarged image */
.image-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
}

/* Style for the enlarged image */
.image-modal img {
  max-width: 100%;
  max-height: 100%;
}
/*add dot -> appling spans*/
.dot {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  margin-left: 5px;
  vertical-align: middle;
}

/* editing mask */
.screen-container  {
  position: relative;
  width: 100%;
  height: calc(100vh - 48px);
}

.canvas-container {
  position: relative;
  background-color: rgb(24, 30, 35);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
  

.canvas-main-action-container {
  position: relative;
  width: 516px;
  height: 340px;
  transform-origin: 0px 0px;
  transform: scale(1) translate(0px, 0px);
}

.canvas-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.canvas-bg-img img {
  position: relative;
  width: 100%;
  height: 100%;
}

.canvas-screen-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.canvas-screen {
  background-color: rgba(196, 196, 195, 0);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.canvas-toolbar {
  background-color: rgb(33, 39, 44);
  display: flex;
  align-items: center;
  height: 48px;
  padding-left: 8px;
  padding-right: 0px;
  z-index: 2;
  justify-content: space-between;
  /* display: none; */
}

.canvas-tool {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  cursor: pointer;
}

.canvas-tool-active {
  background-color: rgb(92, 170, 255) !important;
}

.canvas-tool svg {
  width: 20px;
  height: 20px;
}

.canvas-tool:hover {
  background-color: rgb(92, 170, 255) !important;
}

.canvas-undo-redo-tool {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  border-radius: 5px;
  color: rgb(157, 157, 157);
  background-color: transparent;
  cursor: default;
}

.stage-grab {
  cursor: grab;
}

.canvas-undo-redo-tool svg {
  width: 20px;
  height: 20px;
}

.canvas-undo-redo-tool-inactive {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  border-radius: 5px;
  color: rgb(187, 187, 187);
  cursor: default;
}

.canvas-percent-display {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  color: white;
  /* background-color: blueviolet; */
}

.canvas-main-tool-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  /* background-color: rgb(126, 78, 106); */
}

.canvas-main-tool {
  position: relative;
  left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
}

.canvas-function {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  /* background-color: rgb(114, 98, 77); */
}

.canvas-cancel-button {
  position: relative;
  width: 70px;
  height: 36px;
  margin-right: 8px;
  border-radius: 5px;
  background-color: rgb(240, 82, 82, 0);
  cursor: pointer;
  transition: .15s;
}

.canvas-cancel-button:hover {
  background-color: rgb(240, 82, 82);
}

.canvas-cancel-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.canvas-save-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 36px;
  margin-right: 8px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.canvas-save-button:hover {
  background-color: rgb(92, 170, 255);
}

.canvas-edit-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 36px;
  margin-right: 8px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.canvas-edit-button:hover {
  background-color: rgb(92, 170, 255);
}

.canvas-zoom-tool {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 36px;
  margin-right: 8px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: transparent;
}

.canvas-zoom-tool-icon {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-color: aquamarine; */
  cursor: pointer;
}

.canvas-zoom-tool svg {
  width: 20px;
  height: 20px;
  /* margin-right: 16px; */
}
