form {
  margin: 0px;
  padding: 0px;
  display: inline;
}

body {
  height: 100%;
  font-family: "Prompt", sans-serif;
}

p {
  margin: 10px 0;
}

#hiddenContent {
  display: none;
}

.banner img {
  height: auto;
  width: 100%;
}

.img-responsive {
  height: auto;
  width: 100%;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  color: blue;
  background-color: skyblue;
  border: 1px solid blue;
}

table.dataTable thead th {
  background-color: #ffffff;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

table.dataTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.dataTable label {
  background-color: #f2f2f2; /* Change the background color */
  border: 1px solid #ccc; /* Change the border */
  border-radius: 5px; /* Add border radius for rounded corners */
  padding: 5px; /* Add padding for better spacing */
}

.dataTable {
  padding-top: 2rem;
}

#text {
  margin-right: 10px;
  text-align: end;
  font-size: larger;
}

/*add dot -> appling spans*/
.dot {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  margin-left: 5px;
  vertical-align: middle;
}


/* Default (small screens): one column */
.diagnosis-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem; /* Bootstrap’s spacing between items */
}

/* On medium screens (≥768px) redefine the grid */
@media (min-width: 768px) {
  .diagnosis-grid {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
      "TL TR"     /*Top-Left        Top-Right*/
      "TML TR"    /*Top-Middle-Left Top-Right*/
      "ML MR"     /*Middle-Left     Middle-Right*/
      "ML MR"     /*Middle-Left     Middle-Right*/
      "BL BR";    /*Bottom-Left     Bottom-Right*/
  }
  .grid-item-image-panel { grid-area: TL; }
  .grid-item-dentist-history-panel { grid-area: TML; }
  .grid-item-patient-profile-panel { grid-area: TR; }
  .grid-item-dentist-feedback-panel { grid-area: ML; }
  .grid-item-case-report-panel { grid-area: MR; }
  .grid-item-biopsy-panel { grid-area: BL; }
  .grid-item-dentist-ai-agreement-panel { grid-area: ML; }
  .grid-item-dentist-additional-feedback-panel { grid-area: MR; }
  .grid-item-dentist-comment-panel { grid-area: BL; }
  .grid-item-patient-request-spacialist-panel { grid-area: TL; }
  .grid-item-patient-question-info-panel { grid-area: TR; }
  .grid-item-osm-image-info-panel { grid-area: TL; }
  .grid-item-osm-request-spacialist-panel { grid-area: ML; }
  .grid-item-osm-question-info-panel { grid-area: MR; }
  .grid-item-osm-patient-profile-panel { grid-area: TR; }
}

/* On large screens (≥992px) redefine the grid */
@media (min-width: 992px) {
  .diagnosis-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "TL TM TR"    /*Top-Left        Top-Middle      Top-Right*/
      "BL BM BR";   /*Bottom-Left     Bottom-Middle   Bottom-Right*/
  }
  .grid-item-image-panel { grid-area: TL; }
  .grid-item-dentist-history-panel { grid-area: BL; }
  .grid-item-patient-profile-panel { grid-area: TR; }
  .grid-item-dentist-feedback-panel { grid-area: TM; }
  .grid-item-case-report-panel { grid-area: BM; }
  .grid-item-biopsy-panel { grid-area: BR; }
  .grid-item-dentist-ai-agreement-panel { grid-area: TM; }
  .grid-item-dentist-additional-feedback-panel { grid-area: BM; }
  .grid-item-dentist-comment-panel { grid-area: BR; }
  .grid-item-patient-request-spacialist-panel { grid-area: TL; }
  .grid-item-patient-question-info-panel { grid-area: TM; }
  .grid-item-osm-image-info-panel { grid-area: TL; }
  .grid-item-osm-request-spacialist-panel { grid-area: TM; }
  .grid-item-osm-question-info-panel { grid-area: BM; }
  .grid-item-osm-patient-profile-panel { grid-area: TR; }
}